body {
  font-size: 13px;
  background-color: #f5f5f1;
  font-family: arial,helvetica,sans-serif;
  color: #666;
}


/* PAGE LAYOUT */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

h4 {
  margin: 0 0 4px 0;
  font-size: 13px;
}

.search-form {
  margin-top: -10px;
}

textarea, input { 
  box-shadow: none;
}

.triangle {
  display: inline-block;
  margin-left: 5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #cbccc9 transparent transparent transparent;
}

.search-field {
  line-height: 34px;
  padding: 0 10px;
  min-width: 250px;
  border-radius: 3px;
  border: 1px solid #ececec;
  -webkit-appearance: none; 
}

.search-field:active {
  border: 1px solid #4ca0ba;
}

.search-button {
  line-height: 30px;
  border: 1px solid #4ca0ba;
  margin-left: -7px;
  padding-bottom: 2px;
  color: #fff;
  background-color: #54acc7;
  border-radius: 0 3px 3px 0;
}

.header {
  height: 80px;
  background-color: #fff;
  margin: 0;
  border: 1px solid #ececec;
}

.header-content {
  width: 980px;
  margin: 10px auto;
/*  border 1px solid red;
  background-color: blue;*/
  height: 40px;
  padding: 10px 0;
}

.logo {
  float: left;
}

.search-box {
  float: left;
  margin: 10px;
}

.content {
  width: 980px;
  margin: 10px auto;
/*  border: 2px solid blue;
*/  overflow: hidden;
}

.filters {
  float: left;
  width: 224px;
  height: auto;
}

.filter-header {
  height: 40px;
}

.filter-header h4 {
  padding-top: 15px;
}

.filter-wrapper {
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.filter-box {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}

.filter-box:first-child {
  padding-top: 0;
}

.filter-box:last-child {
  border-bottom: none;
}

.filter-color ul, li{
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  display: inline-block;
  m
}

.right {
  float: right;
  width: 756px;
  height: auto;
}

.right-header {
  height: 30px;
}

.right-header-container {
  margin: 10px 2px 10px 30px;
  position: relative;
  padding-top: 5px;
}

.right-header h4 {
  float: left;
  padding-right: 5px;
}

.right-nav {
  float: right;
  font-size: 14px;
}

.register {
  float: left;
  color: #0192B5;
  padding: 9px 0;
  margin-top: 3px;
}

.sign-in {
  float: left;
  border: 1px solid #0192B5;
  padding: 8px 10px;
  color: #0192B5;
  border-radius: 3px;
  margin: 3px 15px 0 15px;
}

.sign-in:hover {
  text-decoration: none;
  background-color: rgba(1, 146, 181, 0.27);
}

.cart {
  display: inline-block;
  border-left: 1px solid #ececec;
  padding: 0 0 0 15px;
  font-size: 10px;
}

.cart span {
  display: block;
  padding: 2px 0;
}

.keyword-results {
  float: left;
}

.sort {
  float: right;
}

.sort a {
  color: #0192B5;
  text-decoration: none;
}

.product-listings {
  height: 2150px;
}

.right-related {
  height: 125px;
  border: 1px solid green;
  margin-left: 28px;
}

.more-shops {
  height: 40px;
  border: 1px solid green;
  margin-left: 28px;
}

.more-pages {
  height: 150px;
  border: 1px solid green;
}

.footer-top {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  clear: both;
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.footer-container h4 {
  color: #333;
  font-weight: normal;
}

.footer-col {
  width: 17%;
  margin: 0 0 0 23px;
  height: 180px;
  float: left;
  border: 1px solid red;
}



/* END PAGE LAYOUT*/



/* PRODUCT LISTING TEMPLATE */

.product {
  display: inline-block;
  width: 222px;
  height: 218px;
  font-family: arial,helvetica,sans-serif;
  color: #666;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin: 0 0px 18px 28px;
  background-color: #fff;
  font-size: 12px;
}

.product:hover {
  border: 1px solid #ddd;
}

.product-wrapper {
  width: 216px;
  height: 212px;
  position: relative;
  top: 4px;
  left: 4px;
}

.product-image-wrapper {
  position: relative;
  width: 214px;
  height: 170px;
  overflow: hidden;
}

.product-image img {
  /*position: absolute;
  width: 214px;
  top: -25px;*/
  display: block;
  max-width:214px;
  max-height: 170px;
  width: auto;
  height: 170px;
  margin: 0 auto 0 auto;
}


.product-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 6px 2px 4px 2px;
}

.product-details {
  padding: 0 4px 0 2px;
  color: #b2b2b2;
  overflow: hidden;
}

.product-seller {
  float: left;
}

.product-price {
  float: right;
  color: #78c042;
}

/* END PRODUCT LISTING TEMPLATE*/

/* SWATCHES */

.swatch {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  height: 18px;
  width: 18px;
  display: inline-block;
}


.red {
  background-color: #f40b32;
}

.orange {
  background-color: #ff7f00;
}

.yellow {
  background-color: #f3cc0c;
}

.green {
  background-color: #0ac20a;
}

.blue {
  background-color: #0cccf3;
}

.purple {
  background-color: #a60cf3;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

