body {
  font-size: 13px;
  background-color: #f5f5f1;
  font-family: arial,helvetica,sans-serif;
  color: #666;
}


/* PAGE LAYOUT */

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

h4 {
  margin: 0 0 4px 0;
  font-size: 13px;
}

.search-form {
  margin-top: -10px;
}

textarea, input { 
  box-shadow: none;
}

.triangle {
  display: inline-block;
  margin-left: 5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #cbccc9 transparent transparent transparent;
}

.search-field {
  line-height: 34px;
  padding: 0 10px;
  min-width: 250px;
  border-radius: 3px;
  border: 1px solid #ececec;
  -webkit-appearance: none; 
}

.search-field:active {
  border: 1px solid #4ca0ba;
}

.search-button {
  line-height: 30px;
  border: 1px solid #4ca0ba;
  margin-left: -7px;
  padding: 2px 15px;
  color: #fff;
  background-color: #54acc7;
  border-radius: 0 3px 3px 0;
}

.browse {
  float: left;
  border: 1px solid #e2e2e2;
  padding: 10px;
  color: #666;
  border-radius: 3px;
  margin: 0 15px;
}

.browse:hover {
  text-decoration: none;
  border-color: #aeaeae;
}

.header {
  height: 80px;
  background-color: #fff;
  margin: 0;
  border: 1px solid #ececec;
}

.header-content {
  width: 980px;
  margin: 10px auto;
/*  border 1px solid red;
  background-color: blue;*/
  height: 40px;
  padding: 10px 0;
}

.logo {
  float: left;
}

.search-box {
  float: left;
  margin: 10px;
}

.content {
  width: 980px;
  margin: 10px auto;
/*  border: 2px solid blue;
*/  overflow: hidden;
}

.filters {
  float: left;
  width: 224px;
  height: auto;
}

.filters ul {
  padding: 0;
  margin: 5px 0 0 0;
  color: #0192B5;
}

.filters li  {
  margin-left: 10px;
  list-style-type: none;
  padding: 3px 0;
}

.filters li:first-child {
  margin-left: 0px;
  font-weight: bold;
}

.filter-header {
  height: 40px;
}

.filter-header h4 {
  padding-top: 15px;
}

.filter-wrapper {
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  height: auto;
}

.filter-item-type li{
  margin: 0px;
}

.filter-item-type span {
  padding-left: 10px;
}

.filter-item-type li:first-child{
  font-weight: normal;
}

.filter-order-options li{
  margin: 0px;
}

.filter-order-options span {
  padding-left: 10px;
}

.filter-order-options li:first-child{
  font-weight: normal;
}

.filter-shop-location li{
  margin: 0px;
}

.filter-shop-location span {
  padding-left: 10px;
}

.filter-shop-location  li:first-child{
  font-weight: normal;
}

.filter-box {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
  height: auto;
}

.filter-box:first-child {
  padding-top: 0;
}

.filter-box:last-child {
  border-bottom: none;
}

.filter-color li{
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  display: inline-block;
}

.filter-color ul {
  margin-left: 0;
  padding-left: 0;
}

.price-field {
  line-height: 32px;
  padding: 0 10px;
  width: 40px;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  -webkit-appearance: none;
}

.price-submit {
  line-height: 32px;
  padding: 8px 15px;
  width: 30px;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  -webkit-appearance: none;
  background-color: #e2e2e2;
}

.ships {
  border: 1px solid #e2e2e2;
  padding: 10px;
  color: #666;
  border-radius: 3px;
  margin: 10px 8px 0 0;
}

.ships:hover {
  text-decoration: none;
  border-color: #aeaeae;
}

.ships span {
  margin-left: 80px
}

.filter-ships-to {
  padding-bottom: 5px;
}

.right {
  float: right;
  width: 756px;
  height: auto;
}

.right-header {
  height: 30px;
}

.right-header-container {
  margin: 10px 2px 10px 30px;
  position: relative;
  padding-top: 5px;
}

.right-header h4 {
  float: left;
  padding-right: 5px;
}

.right-nav {
  float: right;
  font-size: 14px;
}

.right-related ul {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding: 0;
}

.right-related li {
  list-style-type: none;
  color: #0192B5;
  padding: 5px 10px 5px 0;
}

.register {
  float: left;
  color: #0192B5;
  padding: 9px 0;
  margin-top: 3px;
}

.sign-in {
  float: left;
  border: 1px solid #0192B5;
  padding: 8px 10px;
  color: #0192B5;
  border-radius: 3px;
  margin: 3px 15px 0 15px;
}

.sign-in:hover {
  text-decoration: none;
  background-color: rgba(1, 146, 181, 0.27);
}

.cart {
  display: inline-block;
  border-left: 1px solid #ececec;
  padding: 0 0 0 15px;
  font-size: 10px;
}

.cart span {
  display: block;
  padding: 2px 0;
}

.keyword-results {
  float: left;
}

.sort {
  float: right;
}

.sort a {
  color: #0192B5;
  text-decoration: none;
}

.product-listings {
  height: 2150px;
}

.right-related {
  height: 120px;
  margin-left: 28px;
}

.more-shops {
  height: 40px;
  margin-left: 28px;
}

.more-shops a {
  color: #0192B5;
}

.more-pages {
  height: 150px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.footer-top {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  clear: both;
  border-bottom: 1px solid #cbccc9;
}

.footer-top ul {
  padding: 0;
  margin: 0;
}
.footer-top li  {
  margin-left: 0px;
  list-style-type: none;
  padding: 5px 0;
  color: #0192B5;
}

.footer {
  width: 980px;
  margin: 40px auto;
  font-size: 12px;
}

.footer-container {
  width: 1016px;
  margin: 0 auto;
  overflow: hidden;
}

.footer-container h4 {
  color: #333;
  font-weight: normal;
}

.footer-col {
  width: 170px;
  margin: 0 0 0 23px;
  height: 180px;
  float: left;
}

.col5 span {
  padding-right: 10px;
  font-size: 15px;
  text-align: center;
}

.col5 span:nth-child(3) {
  padding-right: 13px;
}

.open-shop {
  margin: 10px 5px 25px 5px;
}

.open-shop a {
  padding: 5px 10px;
  color: #fff;
  background-color: #4ba3b8;
  border-radius: 3px;
}

.open-shop a:hover {
  background-color: #0192B5;
  text-decoration: none;
}

.region {
  width: 290px;
  margin: 0 auto;
  display: inline-block;
}

.region a {
  padding: 10px 10px;
  color: #666;
  background-color: none;
  border: 1px solid #cbccc9;
  margin: -2px;
}

.region a:first-child {
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.region a:last-child {
  border-radius: 0 3px 3px 0;
  border-left: none;
}

.region a:hover {
  background-color: rgba(1, 146, 181, 0.27);
  text-decoration: none;
  color: #0192B5;
}

.region span {
  padding-right: 5px;
  font-size: large;
}

.help {
  display: inline-block;
}

.help a {
  padding: 9px 75px;
  color: #666;
  background-color: #ececec;
  border-radius: 3px;
  border: 1px solid #cbccc9;
  font-size: 16px;
  font-weight: bold;
  line-height: 13px;
}

.help a:hover {
  background-color: #d2d2d2;
  text-decoration: none;
}

.footer-wrapper {
  width: 50%;
  margin: 20px auto;
}

.contact {
  width: 412px;
  margin: 35px auto;
}

.contact a {
  padding: 0 10px;
}

.contact span {
  color: #999;
}

.page-numbers {
  margin: 0 90px;
  color: #0192B5
}

.page-numbers a {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

.page-numbers h4 {
  font-size: 30px;
  margin: 15px;
}

/* END PAGE LAYOUT*/



/* PRODUCT LISTING TEMPLATE */

.product {
  display: inline-block;
  width: 222px;
  height: 218px;
  font-family: arial,helvetica,sans-serif;
  color: #666;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin: 0 0px 18px 28px;
  background-color: #fff;
  font-size: 12px;
}

.product:hover {
  border: 1px solid #ddd;
}

.product-wrapper {
  width: 216px;
  height: 212px;
  position: relative;
  top: 4px;
  left: 4px;
}

.product-image-wrapper {
  position: relative;
  width: 214px;
  height: 170px;
  overflow: hidden;
}

.product-image img {
  display: block;
  max-width:214px;
  max-height: 170px;
  width: auto;
  height: 170px;
  margin: 0 auto 0 auto;
}


.product-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 6px 2px 4px 2px;
}

.product-details {
  padding: 0 4px 0 2px;
  color: #b2b2b2;
  overflow: hidden;
}

.product-seller {
  float: left;
}

.product-price {
  float: right;
  color: #78c042;
}

/* END PRODUCT LISTING TEMPLATE*/

/* SWATCHES */

.swatch {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  height: 18px;
  width: 18px;
  display: inline-block;
}


.red {
  background-color: #f40b32;
}

.orange {
  background-color: #ff7f00;
}

.yellow {
  background-color: #f3cc0c;
}

.green {
  background-color: #0ac20a;
}

.blue {
  background-color: #0cccf3;
}

.purple {
  background-color: #a60cf3;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
} 

/* END SWATCHES */

