body {
  font-size: 13px;
  background-color: #f5f5f1;
  font-family: arial,helvetica,sans-serif;
  color: #666;
}

/* PAGE LAYOUT */

h4 {
  margin: 0 0 4px 0;
  font-size: 13px;
}

.search-form {
  margin-top: -10px;
}

.search-field {
  line-height: 30px;
  padding-left: 10px;
  min-width: 250px;
  border-radius: 3px;
  border: 2px solid #ececec;
}

.search-button {
  line-height: 30px;
  border: none;
}

.header {
  height: 80px;
  background-color: #fff;
  margin: 0;
  border: 1px solid #ececec;
}

.header-content {
  width: 78%;
  margin: 10px auto;
/*  border 1px solid red;
  background-color: blue;*/
  height: 40px;
  padding: 10px 0;
}

.logo {
  float: left;
}

.search-box {
  float: left;
  margin: 10px;
}

.content {
  width: 82%;
  margin: 10px auto;
/*  border: 2px solid blue;
*/  overflow: hidden;
}

.filters {
  float: left;
  width: 225px;
  height: 500px;
  margin-left: 24px;
}

.filter-header {
  height: 40px;
}

.filter-header h4 {
  padding-top: 15px;
}

.filter-wrapper {
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.filter-box {
  border-bottom: 1px solid #ececec;
  padding: 10px 0;
}

.filter-box:first-child {
  padding-top: 0;
}

.filter-box:last-child {
  border-bottom: none;
}

.right {
  float: right;
  width: 765px;
  height: auto;
}

.right-header {
  height: 30px;
}

.right-header-container {
  margin: 10px 32px 10px 9px;
  position: relative;
  padding-top: 5px;
}

.right-header h4 {
  float: left;
  padding-right: 5px;
}

.keyword-results {
  float: left;
}

.sort {
  float: right;
}

.product-listings {
  margin-left: 7px;
  height: 2150px;
}

.right-related {
  height: 125px;
  border: 1px solid green;
}

.more-shops {
  height: 40px;
  border: 1px solid green;
}

.more-pages {
  height: 150px;
  border: 1px solid green;
}

.footer-top {
  width: 80%;
  margin: 0 auto;
  height: 200px;
  clear: both;
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
  overflow: hidden;
}

.footer-container h4 {
  color: #333;
  font-weight: normal;
}

.footer-col {
  border: 1px solid red;
  width: 17%;
  margin: 0 0 0 23px;
  height: 180px;
  float: left;
}



/* END PAGE LAYOUT*/



/* PRODUCT LISTING TEMPLATE */

.product {
  display: inline-block;
  width: 222px;
  height: 218px;
  font-family: arial,helvetica,sans-serif;
  color: #666;
  border: 1px solid #ececec;
  border-radius: 2px;
  margin: 0 28px 18px 0;
  background-color: #fff;
  font-size: 12px;
}

.product:hover {
  border: 1px solid #ddd;
}

.product-wrapper {
  width: 216px;
  height: 212px;
  position: relative;
  top: 4px;
  left: 4px;
}

.product-image-wrapper {
  position: relative;
  width: 214px;
  height: 170px;
  overflow: hidden;
}

.product-image img {
  position: absolute;
  width: 214px;
  top: -25px;
}

.product-info a {
  text-decoration: none;
  color: inherit;
}

.product-info a:hover {
  text-decoration: underline;
  text-decoration-color: #666;
}

.product-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 6px 2px 4px 2px;
}

.product-details {
  padding: 0 4px 0 2px;
  color: #b2b2b2;
  overflow: hidden;
}

.product-seller {
  float: left;
}

.product-price {
  float: right;
  color: #78c042;
}

/* END PRODUCT LISTING TEMPLATE*/

